.homeLink {
  text-decoration: none;
  color: #fff;
}
.menuBarLinks {
  color: #bdfef2;
  text-decoration: none;
}
.header {
  background-color: black;
  color: #fff;
}

.headerMain {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
